@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm;
  }

  td {
    @apply capitalize text-white/70;
  }

  thead td {
    @apply text-white;
  }
}

@layer component {
  .btn {
    @apply flex gap-2 items-center text-white px-4 py-2 rounded-md;
  }

  .custom-input {
    @apply bg-transparent border bg-slate-700 border-slate-800 rounded-md outline-none;
  }

  .container {
    @apply max-w-[1000px];
  }
}


@layer utilities {
  .btn-red {
    @apply bg-red-900 px-4 py-2;
  }

  .btn-green {
    @apply bg-green-600 px-4 py-2;
  }
}

@import url("./styles/output.css");

.toggleDarkBtn {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.toggleDarkBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slideBtnTg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1d1e1f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slideBtnTg:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
}

input:checked+.slideBtnTg {
  background-color: rgb(255 255 255 / 0.5);
}

input:focus+.slideBtnTg {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slideBtnTg:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

.slideBtnTg.round {
  border-radius: 34px;
}

.slideBtnTg.round:before {
  border-radius: 50%;
}